identityFile=C:/abc
knownHosts=D:/cygwin64/home/admin/.ssh/known_hosts
hostname=go2wheel.com
org.gradle.jvmargs=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000
flyway.user=SA
flyway.password=
