<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="detail (tplUtil, serverCtx)">
    <div th:assert="${tplUtil}, ${serverCtx}"></div>
    <div th:each="borgarchive: ${serverCtx.getBorgArchiveResults(1)}">
	      <table class="pure-table pure-table-bordered" style="width:100%;">
        <caption th:text="|BORG_ARCHIVE结果 ${#dates.format(borgarchive.createdAt, 'yyyy-MM-dd HH:mm:ss')}|">BORG_ARCHIVE结果</caption>
        <thead>
        <tr>
          <th>下载文件数</th>
          <th>下载字节数</th>
          <th>耗时</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${borgarchive.download.copied.count}">2.41</td>
          <td th:text="${tplUtil.formatSize(borgarchive.download.copied.length)}">2.41</td>
          <td th:text="${#numbers.formatDecimal(borgarchive.timespan.TotalMinutes, 1, 3)} + '分钟'">Onions</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</body>
</html>