<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="detail" th:with="memfrees=${serverCtx.getMemfrees(1)}">
    <div th:each="memfree: ${memfrees}">
      <table class="pure-table pure-table-bordered">
        <caption th:text="|内存使用 ${#dates.format(memfree.createdAt, 'yyyy-MM-dd HH:mm:ss')}|">内存使用</caption>
        <thead>
        <tr>
          <th>内存使用率</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="mfItem: ${memfree.result}">
          <td th:text="${mfItem.percent}">2.41</td>
        </tr>
      </tbody>
      </table>
    </div>
	</div>
</body>
</html>