<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--/*-->
 
<!--*/-->

<body>
  <div th:fragment="detail" th:with="diskfrees=${serverCtx.getDiskfrees(1)}">
  <div th:each="diskfree: ${diskfrees}">
    <div>
      <table class="pure-table pure-table-bordered">
        <caption th:text="|存储容量 ${#dates.format(diskfree.createdAt, 'yyyy-MM-dd HH:mm:ss')}|">存储容量</caption>
        <thead>
        <tr>
          <th>根目录</th>
          <th>使用比例</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dfItem: ${diskfree.result}">
          <td th:text="${dfItem.name}">2.41</td>
          <td th:text="${dfItem.percent}">使用比例</td>
        </tr>
         </tbody>
      </table>
    </div>
  </div>
  </div>
</body>
</html>