spring.shell.interactive.enabled=true
spring.shell.script.enabled=true

spring.datasource.url= jdbc:hsqldb:file:c:/db/mysqlbackup/devdb;shutdown=true
spring.datasource.username= SA
spring.datasource.password=
spring.datasource.driver-class-name= org.hsqldb.jdbc.JDBCDriver
spring.datasource.validation-query= select 1 from INFORMATION_SCHEMA.SYSTEM_USERS
spring.datasource.test-on-borrow= true
 
spring.jooq.sql-dialect=HSQLDB
# jdbc, memory
spring.quartz.job-store-type=jdbc
# always, embeded.
spring.quartz.jdbcinitialize-schema=never

spring.flyway.locations=classpath:/dev/db/migration


spring.mail.host= smtp.qq.com
#465
spring.mail.port= 587
spring.mail.username= jlbfine@qq.com
spring.mail.password= emnbsygyqacibgjh
spring.mail.protocol= smtp
spring.mail.properties.mail.smtp.auth=true

spring.messages.use-code-as-default-message= false
spring.messages.basename= messages.command_msg

logging.file= log/spring.log
logging.file.max-size= 5MB
logging.file.max-history= 100
logging.level.root= INFO
logging.level.com.go2wheel.mysqlbackup.job.SampleJob= ERROR
logging.level.com.go2wheel.mysqlbackup.job.SampleJobService= ERROR
logging.level.org.jooq= DEBUG

myapp.dataDir= boxes
myapp.downloadFolder= notingit
myapp.ssh.sshIdrsa= G:/cygwin64/home/Administrator/.ssh/id_rsa
myapp.ssh.knownHosts= G:/cygwin64/home/Administrator/.ssh/known_hosts

using.spring.schedulerFactory= true
expectit.echo= true

dv.cron.uptime= 0 0/2 * * * ?
dv.cron.diskfree= 0 0/2 * * * ?
dv.cron.borg_archive= 0 0/2 * * * ?
dv.cron.borg_prune= 0 0/2 * * * ?
dv.cron.mysql_flush= 0 0/2 * * * ?
