table {
    width: 100%;
}

aside.warn {
    background: rgb(202, 60, 60); /* this is a maroon */
}

aside.success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.action-menu button {
    margin-right: 5px;
}