table {
    width: 100%;
}

aside.warn {
    background: rgb(202, 60, 60); /* this is a maroon */
}

aside.success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.action-menu button {
    margin-right: 5px;
}

#action-menu-bar {
    margin-top: 3px;
    margin-bottom: 5px;
}

.modal {
  width: 800px;
  margin-left: -400px;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 600px;
  padding: 15px;
  overflow-y: auto;
}

.content {
    min-height: 600px;
}