<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="form-parts :: title"></title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:replace="form-parts :: header">编辑或新建</h1>
			</div>
			<div th:replace="form-parts :: content(~{::div.pure-control-group}, ~{::div.form-buttons})" class="content">
				<div class="pure-button-group form-buttons"  style="text-align: center;margin-bottom: 5px;" role="group" aria-label="...">
					<form action="#" method="POST" th:action="@{/app/robocopy/fullcopy/{serverId}(serverId=${singleItem.serverId})}">
						<button class="pure-button" type="submit">创建一个全备份</button>
						<a class="pure-button" href="#" th:href="@{/app/robocopy/fullcopies/{serverId}(serverId=${singleItem.serverId})}">备份卷列表</a>
					</form>
				</div>
				<div class="pure-control-group">
					<label for="repo">仓库路径</label>
					<input th:field="*{repo}" type="text" placeholder="">
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group">
					<label for="serverId">服務器ID</label>
					<input th:field="*{serverId}" type="text" placeholder="" readonly>
					<span class="pure-form-message-inline"></span>
				</div>				
				<div class="pure-control-group pure-combo">
					<label for="invokeCron">卷計劃</label>
					<input th:field="*{invokeCron}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${crons}" th:value="${one.expression}" th:text="${one.description}" th:selected="${one.expression} == ${singleItem.invokeCron}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group pure-combo">
					<label for="localBackupCron">本地卷備份計劃</label>
					<input th:field="*{localBackupCron}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${crons}" th:value="${one.expression}" th:text="${one.description}" th:selected="${one.expression} == ${singleItem.localBackupCron}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group">
					<label for="pruneStrategy">本地卷修剪策略</label>
					<input th:field="*{pruneStrategy}" type="text" placeholder="">
					<span class="pure-form-message-inline">7 digital columns separated by space. </span>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.freact.pureCombo();
	</script>
</body>

</html>