<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MYSQL設置列表</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:text="#{${entityName}} + '列表'"></h1>
			</div>
			<div class="content">
				<aside class="warn" th:if="${warnMessage}">
					<p th:text="${warnMessage}">警告信息。</p>
				</aside>
				<aside class="success" th:if="${successMessage}">
					<p th:text="${successMessage}">成功信息。</p>
				</aside>
				<aside class="success" th:if="${deleteResult}">
					<p th:text="${deleteResult}">修改成功。</p>
				</aside>
				<div id="action-menu-bar"></div>
				<table class="pure-table pure-table-bordered item-list">
					<thead>
						<tr>
							<th>
								<input id="item-list-check-all" th:id="item-list-check-all" type="checkbox">
							</th>
							<th>被备份目录</th>
							<th>备份仓库内的名称</th>
							<th>文件模式</th>
							<th>排除目录</th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="item: ${listItems}">
							<td>
								<input id="particular-item" th:id="|item-${item.id}|" type="checkbox">
							</td>
							<td th:text="${item.source}"></td>
							<td th:text="${item.dstRelative}"></td>
							<td th:text="${item.fileParameters}">Accord</td>
							<td th:text="${item.excludeDirectories}">2009</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Toyota</td>
							<td>Toyota</td>
							<td>Camry</td>
							<td>2012</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Hyundai</td>
							<td>Hyundai</td>
							<td>Elantra</td>
							<td>2010</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var mapping = /*[[${mapping}]]*/ "/app/robocopy-items";
		var descriptionId = /*[[${#request.getParameter('descriptionId')}]]*/ null;

		function findById(bid) {
			for (const bg of borgdescriptions) {
				if (bg.id == bid) {
					return bg;
				}
			}
		}
		window.freact.renderActionMenuBar(mapping,
			".item-list",
			[{
				actionId: 'create',
				name: '新建',
				activeOn: 'ALWAYS',
				onClick: {
					react: 'GET',
					url: mapping + '/create?descriptionId=' + descriptionId
				} 
			},
				"edit",
				"delete"]);
	</script>
</body>

</html>