<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<script src="../public/jquery/3.3.1/jquery.min.js" th:src="@{/jquery/3.3.1/jquery.min.js}"></script>
	<script src="../public/js/skillet.js"></script>
</head>

<body>
	<div id="ab-c"></div>
	<div th:fragment="actionmenu">
		<div class="pure-button-group button-xsmall action-menu" role="group" aria-label="..." style="margin-bottom: 10px;">
			<button class="pure-button am-create">
				<i class="far fa-plus-square"></i>
				<a href="/app/servers/create">新建</a>
			</button>
			<button class="pure-button pure-button-disabled am-edit">
				<i class="fas fa-edit"></i>
				<a href="#">编辑</a>
			</button>
			<button class="pure-button pure-button-disabled am-delete">
				<i class="fas fa-trash"></i>
				<a>删除</a>
			</button>
		</div>
	</div>
	<table class="pure-table pure-table-bordered item-list">
		<thead>
			<tr>
				<th>
					<input id="server-all" th:id="server-all" type="checkbox">
				</th>
				<th>名称</th>
				<th>主机名|IP</th>
				<th>操作系统</th>
				<th>角色</th>
			</tr>
		</thead>

		<tbody th:remove="all-but-first">
			<tr th:each="server: ${servers}">
				<td>
					<input id="particular-server" th:id="|server-${server.id}|" type="checkbox">
				</td>
				<td th:text="${server.name}">Honda</td>
				<td th:text="${server.host}">Accord</td>
				<td th:text="${server.os}">2009</td>
				<td th:text="${server.serverRole}">2009</td>
			</tr>
			<tr>
				<td>
					<input id="particular-server-1" type="checkbox">
				</td>
				<td>Toyota</td>
				<td>Camry</td>
				<td>2012</td>
				<td>2009</td>
			</tr>

			<tr>
				<td>
					<input id="particular-server-2" type="checkbox">
				</td>
				<td>Hyundai</td>
				<td>Elantra</td>
				<td>2010</td>
				<td>2009</td>
			</tr>
		</tbody>
	</table>
	<script th:fragment="menujs (baseUrl)" th:inline="javascript">
		var am = skillet.createActionBar('/app/servers', [{actionId: 'edit'}, {actionId: 'delete'}]);
		$('#ab-c').append(am);
		var checkboxes = $(".item-list tbody input[type='checkbox']");
		skillet.listenListCheckbox(checkboxes, am);

		// var amCreate = $(".action-menu .am-create");
		// var amEdit = $(".action-menu .am-edit");
		// var amDelete = $(".action-menu .am-delete");
		// var baseUrl = /*[[${baseUrl}]]*/ '/app/servers';
		// var servers = /*[[${servers}]]*/[{ "id": 873, "createdAt": "2018-06-29T17:34:17.180+08:00", "host": "localhost", "name": "localhost", "coreNumber": 0, "port": 22, "os": "win", "username": "root", "password": "i_have_no_password", "sshKeyFile": "i_have_no_sshkey_file", "mysqlInstance": null, "borgDescription": null, "serverRole": null, "uptimeCron": "0 0\/2 * * * ?", "diskfreeCron": "0 0\/2 * * * ?" }];

		// $(".item-list tbody input[type='checkbox']").change(function () {
		// 	// Check input( $( this ).val() ) for validity here
		// 	var checked = $(".item-list tbody input[type='checkbox']:checked");
		// 	var count = checked.length;

		// 	amCreate.removeClass("pure-button-disabled");
		// 	amEdit.removeClass("pure-button-disabled");
		// 	amDelete.removeClass("pure-button-disabled");

		// 	if (count === 0) {
		// 		amEdit.addClass("pure-button-disabled");
		// 		amDelete.addClass("pure-button-disabled");
		// 	} else if (count === 1) {
		// 	}
		// 	console.log(amCreate);
		// 	console.log(amCreate.find('a')[0]);
		// 	console.log(checked.length);
		// 	console.log($(this).attr('id'));
		// });
	</script>
</body>

</html>