<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Settings</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>设置</h1>

				<h2>控制程序的各个方面以满足特定的需求</h2>
			</div>

			<div class="content">
				<h2 id="common-layouts" class="content-subhead">
					常用设定
				</h2>

				<form class="pure-form pure-form-aligned" action="#" th:action="@{settings}" th:object="${sshconfig}" method="POST">
					<fieldset>
						<div class="pure-control-group">
							<label for="ssh-idrsa">Sshidrsa File</label>
							<input th:field="*{sshIdrsa}"  type="text" placeholder="ssh idrsa file path.">
							<span class="pure-form-message-inline">This is a required field.</span>
						</div>

						<div class="pure-control-group">
							<label for="password">Password</label>
							<input id="password" type="password" placeholder="Password">
						</div>

						<div class="pure-control-group">
							<label for="email">Email Address</label>
							<input id="email" type="email" placeholder="Email Address">
						</div>

						<div class="pure-control-group">
							<label for="foo">Supercalifragilistic Label</label>
							<input id="foo" type="text" placeholder="Enter something here...">
						</div>

						<div class="pure-controls">
							<label for="cb" class="pure-checkbox">
								<input id="cb" type="checkbox"> I've read the terms and conditions
							</label>

							<button type="submit" class="pure-button pure-button-primary">Submit</button>
						</div>
					</fieldset>
				</form>

			</div>
</body>

</html>